{
  "Loopback": {
    "name": {{ intf.name }},
    "description": "{{ intf.description }}",
    "ip": {
      "address": {
        "primary": {
          "address": "{{ intf.address }}",
          "mask": "{{ intf.mask }}"
        }
      }
    }
  }
}